# 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is the test of the emergency text system'

In [3]:
with open('test.txt','w') as f:
    f.write(test1)

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open('test.txt','r') as f:
    test2 = f.read()

In [5]:
test2

'This is the test of the emergency text system'

In [6]:
test1

'This is the test of the emergency text system'

No difference.

# 3. Create a CSV file called books.csv by using these lines:
title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960


Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007


Small Gods,Terry Pratchett,1992

In [37]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    for row in data:
        writer.writerow(row)

In [39]:
import pandas as pd

In [47]:
data = pd.read_csv('books.csv')

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [43]:
import sqlite3

In [53]:
con = sqlite3.connect('book.db')

In [54]:
conn  = con.cursor()

In [46]:
conn.execute('''

create table books(
title TEXT not null,
author text not null,
year int not null
)
''')

In [55]:
with open('books.csv', 'r') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        conn.execute('''INSERT INTO books (title, author,year)
                     VALUES (?, ?,?)''', (row['title'], row['author'],row['year']))

# 5. Read books.csv and insert its data into the book table.

In [56]:
data  = pd.read_sql('select * from books',con)

In [58]:
data.head()

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

# 6. Select and print the title column from the book table in alphabetical order.

In [73]:
dtitle = pd.read_sql("""SELECT title FROM books ORDER BY title ASC""",con)

# 7. From the book table, select and print all columns in the order of publication.

In [78]:
publication_sort = pd.read_sql("""SELECT title FROM books ORDER BY year""",con)

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')
result = engine.execute('SELECT * FROM books',conn)
for row in result:
    print(row)
engine.dispose()

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [86]:
pip install redis

Collecting redis
  Downloading redis-4.5.4-py3-none-any.whl (238 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.9/238.9 kB 4.0 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.4
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis

r = redis.Redis(host='localhost', port=6379, db=0)

r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

# 10. Increment the count field of test and print it.

In [ ]:
import redis

r = redis.Redis(host='localhost', port=6379, db=0)

r.hincrby('test', 'count', 1)