# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Ans:
    1. *  ==>  expressions
    
    2. 'hello' ==> values
    
    3. -87.8 ==> values
    4. - ==> expressions
    
    5. / ==> expressions
    6. + ==> expression
    
    7. 6 ==> values

# 2. What is the difference between string and variable?

Ans: String is a datatype which is  ordered seqeuences of characters. It can be made up of simply alphabets or from numbers or can be combinations of them as well. It should be enclosed either by double quotation or  by single quotation but they should be matched. for multiline strings we use triple double quotation symbol.
Example of strings:

In [10]:
first = "hello"
second = 'hello world'
multi_line_string = """"I was working as a Data Analyst but I wanted to 
gain a deeper insight into the Al field. I was astonished by the course curriculum and was impressed by the dedication of our mentor Sudhanshu's teaching paradigm. After completion, I was able to make the transition into a data science job in Xceedance Cousulting. """

In [11]:
first

'hello'

In [12]:
multi_line_string

'"I was working as a Data Analyst but I wanted to \ngain a deeper insight into the Al field. I was astonished by the course curriculum and was impressed by the dedication of our mentor Sudhanshu\'s teaching paradigm. After completion, I was able to make the transition into a data science job in Xceedance Cousulting. '

A variable is a symbolic name, that holds the values.
A variable can hold different data types.  first, second,multi_line_sting are example of string varibales.

In [13]:
string_varibale = "hello ineuron"
int_variable = 2022
float_variable = 2020.02

# 3. Describe three different data types.


1. String:
    string is a datatypes which are sequences of character, and are used to hold the text values. 
2. Boolean;
    Boolean datatypes stores true and false values. True represent 1 and false represent 0.
3. interger:
    integer holds the numerical value without any fractional component

# 4. What is an expression made up of? What do all expressions do?

An expression is a made up of variables, operators, and numbers, which evaluates to a single value.

It evaluates to a single value.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

The assignment statement are used to assign the value to the variable. Here, variable spam is assigned valued 10.



An expression is a made up of variables, operators, and numbers, which evaluates to a single value.

#    # 6. After running the following code, what does the variable bacon contain? bacon = 22 bacon + 1

In [1]:
bacon  = 22
bacon +1

23

In [2]:
bacon

22

Since we haven't assigned +1 to bacon variable, the value of bacon is still 22.

# 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

The result is same, as in 1. we have done concatenation of one 'spam' and another two spam string 'spamspam' so result is 'spamspamspam'. In second we did string multiplication, which generate tripe of 'spam' which is 'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [5]:
eggs = 10

In [6]:
100 = 'invalid example'

SyntaxError: cannot assign to literal (<ipython-input-6-ad378dbee9de>, line 1)

We can't name the variable which starts with numbers, so variable name 100 is invalid.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

for interger, we can use int(), for float, we can use float(), for string, we can use str()

# 10. Why does this expression cause an error? How can you fix it? &#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

We can't perform string concatenation operation with interger.

We can fix this by typecasting, integer to string.

In [10]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [11]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'